#desc-plat{
    margin-top: 40px;
    position: relative;
}
#divname{
    height: 47px;
    position:absolute;
}

#prec-plat{
    margin-right: -15px;
    color:#d72c51
}

#prodimg{
    width:100%;
    height:100%;
}