#homestatic {
    position:fixed;
    right:7px;
    bottom: 10px;
    border-radius: 70%;
    border-style:none;
    background-color:#dd4868ce;
    font-size: 20px;
    color:white;
    width:60px;
    height: 60px;
    outline:none;
    cursor: pointer;
    -webkit-box-shadow: -3px 10px 28px -4px rgba(0,0,0,1);
-moz-box-shadow: -3px 10px 28px -4px rgba(0,0,0,1);
box-shadow: -3px 10px 28px -4px rgba(0,0,0,1);
}

#icon{
    margin-top: 10px;
}

#smallnumber{
    position: relative;
    margin-top: -5px;
    text-align: center;
}

.btnenable{
    opacity: 0.5;
}