@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.myheader{
    background-color:transparent;
    border-radius: 30px;
}

#logo-rest{
     width: 40%;
     height: 40%;
}
