h3{
    color: white;
}

.divimg{
  background-color:black;
}

.imgpromo{
  opacity: 0.7;
}

#promostext{
  color:whitesmoke;
  text-shadow: -1px 3px 4px rgba(72,72,72,0.39);
  font-family: 'Raleway', sans-serif;
  font-size: 6.5vw;
}

.carousel, .slide,
.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-item img,
.carousel .carousel-control {
  border-radius: 30px;
  overflow: hidden;
}
.carousel-control-prev-icon {
  background-image: url("../components/prevarr.png") !important;
  width:40px !important;
  height:40px !important;
 }
 .carousel-control-next-icon {
  background-image: url("../components/nextarr.png") !important;
  width:40px !important;
  height:40px !important;
 }

 .carousel-indicators li {
   background-color: #d60e0e !important;
 }

 #div-promos-title{
  background-color: #d60e0e;
  border-radius:12px;
  width:auto;
}

 .titulo-promo{
   color:white;
   text-shadow: 0px 3px 4px rgba(48, 48, 48, 1);
 }

 .subtitulo{
  text-shadow: 0px 3px 4px rgba(48, 48, 48, 1);
 }