@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.App {
  text-align: center;
  background-color: #161616;
}


 #cont-menu{
   background-color: #d60e0e;
   border-radius:15px;
   width:35vw;
 }

 #menutext{
  color: whitesmoke;
  text-shadow: -1px 3px 4px rgba(72, 72, 72, 0.39);
  font-family: 'Raleway', sans-serif;
  font-size: 8.5vw;
}
#pordena{
  font-family: 'Raleway', sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
